@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250, 255, 255;
  --foreground: 0, 0, 0;
}

html,
body,
#__next {
  height: 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
